{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h3 class="text-center mb-4">Entrar</h3>

                <form method="POST">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Usuário ou senha inválidos.
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        <label class="form-label">Usuário</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        {{ form.password }}
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Entrar
                    </button>

                </form>

                <hr>

                <p class="text-center">
                    Não tem conta?
                    <a href="{% url 'register' %}">Criar conta</a>
                </p>

            </div>
        </div>

    </div>
</div>

{% endblock %}
